<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% @landmarks.each do |landmark| %>
   <li><a href="/landmarks/<%= landmark.id %>"> <%= landmark.name %> </a></li>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
<a class="button" href="/landmarks/new">New Landmark</a>
