<h2>All Historical Figures</h2>

<!-- add content here -->
<ul>
<% @figures.each do |figure| %>
   <li><a href="/figures/<%= figure.id %>"> <%= figure.name %> </a></li>
<% end %>
</ul>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
